@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IT'S ALIVE!!!   <img src="/Images/itsalive.bmp" height="200" width="356" /></h1>

    <p>Things that work: <b>EVERYTHING</b>, Things that don't work: <b>Leaving certain text fields blank</b>, and <b>THE DATABASE</b>
    <p>Seriously, it can be really slow.  If the connection times out, <b>try again.</b>  If it still happens, <b><i>it's broken</i></b></p> 

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Me Gusta</h2>
        <p>How I will feel if I get an A</p>
        <p><img src="/Images/megusta.bmp" height="200" width="200"/></p>
        <p><a class="btn btn-default" href="./MeGustaView">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pony of Disapproval</h2>
        <p>My Pony of Disapproval will watch as you grade</p>
        <p><img src="/Images/pony.bmp" height="200" width="200" /></p>
        <p><a class="btn btn-default" href="./PonyView">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Wahjudi</h2>
        <p>Paulus Wahjudi is truly a hero, a God amongst men. He's a life saver. You see, last year around finals I was super stressed. I just couldn't handle it, and went to the top of Smith to throw myself from the building. As I was on the edge, staring down those 7 stories, Paulus talked me down, and comforted me. 1 like 1 prayer </p>
        <p><img src="/Images/wahjudi.bmp" height="200" width="200" /></p>
        <p><a class="btn btn-default" href="./WahjudiView">Learn more &raquo;</a></p>
    </div>
    
</div>
