@model TicketApp.Models.EditTicketViewModel

<table>
    @foreach (var component in Model.Components) {
        <tr>
            <td>
                <b>@component.MyUser.Email</b>
            </td>
            <td>
                <b>(@component.MyUser.Type)</b>
            </td>
            <td>
                <b>@component.Time</b>
            </td>
        </tr>
        <tr>
            <td>
                @component.Text
            </td>
        </tr>
    }
</table>
