
@{
    ViewBag.Title = "NoAccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NoAccess</h2>

<p>Employees do not have access to this feature.  This is easier than figuring out how to disable buttons on the navbar for different users.</p>
